######################## default configuration ####################
baseURL = "https://tomisagoodguy.github.io"
languageCode = "zh-tw"
title = "land-knowledege"
theme = "liva-hugo"
summaryLength = "10"
paginate = 10
disqusShortname = "tomisagoodguy"
defaultContentLanguage = "zh-tw"

[languages]
  [languages.zh-tw]
    languageName = "繁體中文"
    weight = 1

[outputs]
home = ["HTML", "RSS", "JSON"]

############################# Plugins ##############################
[params.plugins]

# CSS Plugins
[[params.plugins.css]]
URL = "plugins/bootstrap/bootstrap.min.css"
[[params.plugins.css]]
URL = "plugins/slick/slick.css"
[[params.plugins.css]]
URL = "plugins/themify-icons/themify-icons.css"
[[params.plugins.css]]
URL = "plugins/venobox/venobox.css"


# JS Plugins
[[params.plugins.js]]
URL = "plugins/jQuery/jquery.min.js"
[[params.plugins.js]]
URL = "plugins/bootstrap/bootstrap.min.js"
[[params.plugins.js]]
URL = "plugins/slick/slick.min.js"
[[params.plugins.js]]
URL = "plugins/venobox/venobox.min.js"
[[params.plugins.js]]
URL = "plugins/search/fuse.min.js"
[[params.plugins.js]]
URL = "plugins/search/mark.js"
[[params.plugins.js]]
URL = "plugins/search/search.js"

############################## navigation ###############################
[menu]

# 主導覽列
[[menu.main]]
name = "首頁"
URL = "/"
weight = 1

[[menu.main]]
name = "食譜筆記"
URL = "recipes/"
weight = 2

[[menu.main]]
name = "考試筆記"
URL = "exam-notes/"
weight = 3

[[menu.main]]
name = "關於"
URL = "about/"
weight = 6

[[menu.main]]
name = "相關連結"
URL = "links/"
weight = 7
hasChildren = true

[[menu.main]]
name = "地政相關網站"
URL = "links/#地政相關網站"
parent = "相關連結"
weight = 1

[[menu.main]]
name = "理財相關網站"
URL = "links/#理財相關網站"
parent = "相關連結"
weight = 2

[[menu.main]]
name = "財經筆記"
URL = "finance/"
weight = 4

[[menu.main]]
name = "不務正業"
URL = "hobbies/"
weight = 5



# footer menu
[[menu.footer]]
name = "首頁"
URL = "/"
weight = 1

[[menu.footer]]
name = "食譜筆記"
URL = "recipes/"
weight = 2

[[menu.footer]]
name = "考試筆記"
URL = "exam-notes/"
weight = 3

[[menu.footer]]
name = "財經筆記"
URL = "finance/"
weight = 4

[[menu.footer]]
name = "不務正業"
URL = "hobbies/"
weight = 5

[[menu.footer]]
name = "關於"
URL = "about/"
weight = 6

[[menu.footer]]
name = "相關連結"
URL = "links/"
weight = 7

#################### default parameters ################################
[params]
# main sections
mainSections = ["blog", "exam-notes", "finance", "practice-sharing", "recipes", "post"]
# 放主題圖片
logo = "images/law.png"
home = "首頁"
# Meta data
description = "定康的地政筆記"
author = "定康"

# Contact Information
mobile = "0911445898"
email = "tom890108159@gmail.com"
location = "Taiwan"
# copyright
copyright = "| copyright © 2025 定康的地政筆記 All Rights Reserved |"

# Preloader
[params.preloader]
enable = true
preloader = "" # use .png , .svg or .gif format

# search
[params.search]
enable = true

# 副導覽列設定
[params.subnavigation]
enable = true
showOnHome = false
showOnSingle = true
showOnList = true

############################ news letter ########################
# [params.newsletter]
# enable = true
# title = "訂閱最新文章"
# content = "獲取最新的地政士考試資訊和實務分享"

# cookies
[params.cookies]
enable = true
expire_days = 2

############################# social site ########################
[[params.social]]
title = "facebook"
icon = "ti-facebook"                                             # themify icon : https://themify.me/themify-icons
link = "https://www.facebook.com/profile.php?id=100005583693079"

[[params.social]]
title = "github"
icon = "ti-github"                                         # themify icon : https://themify.me/themify-icons
link = "https://github.com/tomisagoodguy?tab=repositories"



[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true
      hardWraps = false
  [markup.tableOfContents]
    endLevel = 4
    ordered = false
    startLevel = 2

# 添加自定義分類法
[taxonomies]
  category = "categories"
  author = "authors"

[related]
  threshold = 80
  includeNewer = true
  toLower = false

  [[related.indices]]
    name = "categories"
    weight = 100
  [[related.indices]]
    name = "tags"
    weight = 80
