/* Button style */
.btn {
  font-size: 14px;
  font-weight: 500;
  font-family: $primary-font;
  text-transform: capitalize;
  padding: 10px 15px;
  border-radius: 0;
  border: 1px solid;
  position: relative;
  z-index: 1;
  transition: .2s ease;

  &:hover,
  &:active,
  &:focus {
    outline: 0;
    box-shadow: 0 !important;
  }
}

.btn-primary {
  background: var(--primary-color, $primary-color);
  color: var(--primary-bg-color, $white);
  border-color: var(--primary-color, $primary-color);

  &:active,
  &:hover,
  &.focus,
  &.active {
    background: var(--primary-color, $primary-color) !important;
    border-color: var(--primary-color, $primary-color) !important;
  }
}

.btn-outline-primary {
  background: transparent;
  color: var(--primary-text-color, $text-color-dark);
  border-color: var(--primary-color, $primary-color);

  &:active,
  &:hover,
  &.focus,
  &.active {
    background: var(--primary-color, $primary-color) !important;
    border-color: var(--primary-color, $primary-color) !important;
    color: var(--primary-bg-color, $white);
  }
}