{{ "<!-- navigation -->" | safeHTML }}
<header class="navigation">
  <div class="container">
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-white bg-transparent border-bottom pl-0">
      <a class="navbar-brand mobile-view" href="{{ .Site.BaseURL }}"><img class="img-fluid"
          src="{{ .Site.Params.logo | absURL }}" alt="{{ .Site.Title }}"></a>
      <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navigation">
        <i class="ti-menu"></i>
      </button>

      <div class="collapse navbar-collapse text-center" id="navigation">
        <div class="desktop-view">
          <ul class="navbar-nav mr-auto">
            {{ range .Site.Params.social }}
            <li class="nav-item">
              <a class="nav-link" href="{{ .link | safeURL }}"><i class="{{ .icon }}"></i></a>
            </li>
            {{ end }}
          </ul>
        </div>

        <a class="navbar-brand mx-auto desktop-view" href="{{ .Site.BaseURL }}"><img class="img-fluid"
            src="{{ .Site.Params.logo | absURL }}" alt="{{ .Site.Title }}"></a>

        <ul class="navbar-nav">
          {{ range .Site.Menus.main }}
          {{ if .Params.hasChildren }}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{{ .URL | absURL }}" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              {{ .Name }}
            </a>
            <div class="dropdown-menu">
              {{ if eq .Name "所有文章" }}
                {{ range .Site.Menus.articles }}
                <a class="dropdown-item" href="{{ .URL | absURL }}">{{ .Name }}</a>
                {{ end }}
              {{ else if eq .Name "考試筆記" }}
                {{ range .Site.Menus.exam_notes }}
                <a class="dropdown-item" href="{{ .URL | absURL }}">{{ .Name }}</a>
                {{ end }}
              {{ else if eq .Name "實務分享" }}
                {{ range .Site.Menus.practice_sharing }}
                <a class="dropdown-item" href="{{ .URL | absURL }}">{{ .Name }}</a>
                {{ end }}
              {{ else if eq .Name "其他" }}
                {{ range .Site.Menus.other }}
                <a class="dropdown-item" href="{{ .URL | absURL }}">{{ .Name }}</a>
                {{ end }}
              {{ end }}
            </div>
          </li>
          {{ else }}
          <li class="nav-item">
            {{ if eq .Name "關於" }}
            <a class="nav-link about-me-nav" href="{{ .URL | absURL }}">{{ .Name }}</a>
            {{ else }}
            <a class="nav-link" href="{{ .URL | absURL }}">{{ .Name }}</a>
            {{ end }}
          </li>
          {{ end }}
          {{ end }}
        </ul>

        {{ if .Site.Params.search.enable }}
        {{ "<!-- search -->" | safeHTML }}
        <div class="search pl-lg-4">
          <button id="searchOpen" class="search-btn"><i class="ti-search"></i></button>
          <div class="search-wrapper">
            <form action="{{ .Site.BaseURL }}/search" class="h-100">
              <input class="search-box px-4" id="search-query" name="s" type="search" placeholder="輸入關鍵字並按 Enter...">
            </form>
            <button id="searchClose" class="search-close"><i class="ti-close text-dark"></i></button>
          </div>
        </div>
        {{ end }}

        {{ if .Site.Params.navButton.enable }}
        {{ "<!-- get start btn -->" | safeHTML }}
        <a href="{{ .Site.Params.navButton.link | absURL }}" class="btn btn-primary ml-lg-4">{{
          .Site.Params.navButton.label }}</a>
        {{ end }}
      </div>
    </nav>
  </div>
</header>

{{ if .Site.Params.subnavigation.enable }}
  {{ $currentSection := .Section }}
  {{ if or 
       (and .IsHome .Site.Params.subnavigation.showOnHome) 
       (and .IsPage .Site.Params.subnavigation.showOnSingle) 
       (and (or .IsSection .IsNode) .Site.Params.subnavigation.showOnList) }}
    
    {{ if eq $currentSection "articles" }}
      {{ partial "all_articles_sub_nav.html" . }}
    {{ else if eq $currentSection "exam-notes" }}
      {{ partial "exam_notes_sub_nav.html" . }}
    {{ else if eq $currentSection "practice-sharing" }}
      {{ partial "practice_sharing_sub_nav.html" . }}
    {{ else if eq $currentSection "other" }}
      {{ partial "other_sub_nav.html" . }}
    {{ else }}
      {{ with .Params.section }}
        {{ if eq . "articles" }}
          {{ partial "all_articles_sub_nav.html" $ }}
        {{ else if eq . "exam-notes" }}
          {{ partial "exam_notes_sub_nav.html" $ }}
        {{ else if eq . "practice-sharing" }}
          {{ partial "practice_sharing_sub_nav.html" $ }}
        {{ else if eq . "other" }}
          {{ partial "other_sub_nav.html" $ }}
        {{ end }}
      {{ end }}
    {{ end }}
    
  {{ end }}
{{ end }}
