{{ "<!-- navigation -->" | safeHTML }}
<header class="navigation">
  <div class="container">
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-white bg-transparent border-bottom pl-0">
      <a class="navbar-brand mobile-view" href="{{ .Site.BaseURL }}">
        {{ if .Site.Params.logo }}
        <img loading="lazy" class="img-fluid" src="{{ .Site.Params.logo | absURL }}" alt="{{ .Site.Title }}">
        {{ else }}
        <h3>{{ .Site.Title }}</h3>
        {{ end }}
      </a>
      <button class="navbar-toggler border-0 cursor-pointer" type="button" data-toggle="collapse"
        data-target="#navigation">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          style="width: 24px; height: 24px;">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </button>

      <div class="collapse navbar-collapse text-center" id="navigation">
        <div class="desktop-view">
          <ul class="navbar-nav mr-auto">
            {{ range .Site.Params.social }}
            <li class="nav-item">
              <a class="nav-link" href="{{ .link | safeURL }}"><i class="{{ .icon }}"></i></a>
            </li>
            {{ end }}
          </ul>
        </div>

        <a class="navbar-brand mx-auto desktop-view" href="{{ .Site.BaseURL }}">
          {{ if .Site.Params.logo }}
          <img loading="lazy" class="img-fluid" src="{{ .Site.Params.logo | absURL }}" alt="{{ .Site.Title }}">
          {{ else }}
          <h3>{{ .Site.Title }}</h3>
          {{ end }}
        </a>

        <ul class="navbar-nav">
          {{ range .Site.Menus.main }}
          {{ if .HasChildren }}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{{ .URL | absURL }}" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              {{ .Name }}
            </a>
            <div class="dropdown-menu">
              {{ range .Children }}
              <a class="dropdown-item" href="{{ .URL | absURL }}">{{ .Name }}</a>
              {{ end }}
            </div>
          </li>
          {{ else }}
          <li class="nav-item">
            {{ if eq .Name "關於" }}
            <a class="nav-link about-me-nav" href="{{ .URL | absURL }}">{{ .Name }}</a>
            {{ else }}
            <a class="nav-link" href="{{ .URL | absURL }}">{{ .Name }}</a>
            {{ end }}
          </li>
          {{ end }}
          {{ end }}
        </ul>

        <div class="theme-switch-wrapper pl-lg-4">
          <label class="theme-switch" for="checkbox">
            <input type="checkbox" id="checkbox" />
            <div class="slider round">
              <i class="fas fa-sun sun-icon"></i>
              <i class="fas fa-moon moon-icon"></i>
            </div>
          </label>
        </div>

        {{ if .Site.Params.search.enable }}
        {{ "<!-- search -->" | safeHTML }}
        <div class="search pl-lg-4">
          <button id="searchOpen" class="search-btn cursor-pointer">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" style="width: 20px; height: 20px;">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
            </svg>
          </button>
          <div class="search-wrapper">
            <form action="{{ .Site.BaseURL }}/search" class="h-100">
              <input class="search-box px-4" id="search-query" name="s" type="search" placeholder="輸入關鍵字並按 Enter...">
            </form>
            <button id="searchClose" class="search-close cursor-pointer">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="text-dark" style="width: 20px; height: 20px;">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
              </svg>
            </button>
          </div>
        </div>
        {{ end }}

        {{ if .Site.Params.navButton.enable }}
        {{ "<!-- get start btn -->" | safeHTML }}
        <a href="{{ .Site.Params.navButton.link | absURL }}" class="btn btn-primary ml-lg-4">{{
          .Site.Params.navButton.label }}</a>
        {{ end }}
      </div>
    </nav>
  </div>
</header>

{{ if .Site.Params.subnavigation.enable }}
{{ $currentSection := .Section }}
{{ if or
(and .IsHome .Site.Params.subnavigation.showOnHome)
(and .IsPage .Site.Params.subnavigation.showOnSingle)
(and (or .IsSection .IsNode) .Site.Params.subnavigation.showOnList) }}

{{ if eq $currentSection "articles" }}
{{ partial "all_articles_sub_nav.html" . }}
{{ else if eq $currentSection "exam-notes" }}
{{ partial "exam_notes_sub_nav.html" . }}
{{ else if eq $currentSection "practice-sharing" }}
{{ partial "practice_sharing_sub_nav.html" . }}

{{ else }}
{{ with .Params.section }}
{{ if eq . "articles" }}
{{ partial "all_articles_sub_nav.html" $ }}
{{ else if eq . "exam-notes" }}
{{ partial "exam_notes_sub_nav.html" $ }}
{{ else if eq . "practice-sharing" }}
{{ partial "practice_sharing_sub_nav.html" $ }}
{{ else if eq . "other" }}
{{ partial "other_sub_nav.html" $ }}
{{ end }}
{{ end }}
{{ end }}

{{ end }}
{{ end }}