<div class="col-lg-4 sidebar-sticky">
  <div class="widgets">
    <!-- about -->
    <div class="widget about-me-sidebar">
      {{ with .Site.GetPage "/about" }}
      <h4 class="widget-title">{{ .Title | markdownify }}</h4>
      {{ if .Params.Image }}
      <img loading="lazy" src="{{ .Params.Image | absURL }}" alt=""
        class="img-fluid author-thumb-sm d-block mx-auto rounded-circle mb-4">
      {{ end }}
      <p>我是定康，熱愛學習新知、運動、程式及料理，並樂於將所學應用於實際生活。</p>
<a href="{{ .Permalink }}" class="btn btn-outline-primary">Know More</a>
      {{ end }}
    </div>

    <!-- recent post -->
    <div class="widget">
      <h4 class="widget-title">Recent Post</h4>
      {{ range first 5 (where .Site.RegularPages.ByPublishDate.Reverse "Type" "in" (slice "blog" "exam-notes" "recipes" "practice-sharing" "finance")) }}
      <article class="widget-card">
        <div class="d-flex">
          {{ if .Params.Image }}
          <img loading="lazy" class="card-img-sm" src="{{ .Params.Image | absURL }}">
          {{ end }}
          <div class="ml-3">
            <h5><a class="post-title" href="{{ .Permalink }}">{{ .Title }}</a></h5>
            <ul class="list-inline meta-info">
              <li class="list-inline-item"><a href="{{ `about` | relURL }}">{{ .Site.Params.Author }}</a></li>
              <li class="list-inline-item">{{ .PublishDate.Format "Jan 2, 2006" }}</li>
            </ul>
          </div>
        </div>
      </article>
      {{ end }}
    </div>

    <!-- category -->
    <div class="widget">
      <h4 class="widget-title">Category</h4>
      <ul class="list-unstyled">
        <li><a href="{{ `categories/` | relLangURL }}">查看所有分類</a></li>
      </ul>
    </div>
    
    <!-- social -->
    <div class="widget">
      <h4 class="widget-title">Social</h4>
      <ul class="list-inline social-links">
        {{ range .Site.Params.social }}
        <li class="list-inline-item"><a href="{{ .link | safeURL }}"><i class="{{ .icon }}"></i></a></li>
        {{ end }}
      </ul>
    </div>

  </div>
</div>